</main>
    <footer>
        <h1></h1>
        <a class ="footer-links" href="https://maps.app.goo.gl/AEVaMrjmfv1VghU47">Avenida Beira-Mar, Fortaleza - CE</a>
        <p></p>
    </footer>
</body>
</html>