<%-include("header.ejs") %> 

<div class="content">
  <div class="choose-field">
    <a class="botao-hospede" href="/hospedes">Hospedes</a>
    <a class="botao-funcionario" href="/funcionarios">Funcionarios</a>
    <a class="botao-reserva" href="/reservas">Reservas</a>
  </div>
  <a class="botao-voltar" href="/">Voltar</a>
</div>
<%-include("footer.ejs") %> 