<%-include("header.ejs") %> 

<a class="botao-voltar" href="/"><img src="styles/seta-esquerda.png"></a>
<div class="content">
  <div id="choose-filed-home" class="choose-field">
    <p>SISTEMA DE GERENCIAMENTO</p>
    <div class="escolhas">
      <a class="botao-hospede" href="/hospedes">Hospedes</a>
      <a class="botao-funcionario" href="/funcionarios">Funcionarios</a>
      <a class="botao-reserva" href="/reservas">Reservas</a>
    </div>
  </div>
</div>
<%-include("footer.ejs") %> 