<%-include("header.ejs") %> 

<div class="content">
  <div class="choose-field">
    <div class="barra-pesquisa">
      <div class="input-pesquisa">
        <input type="text" id="txtBusca" placeholder="Buscar hospede"/>
      </div>
      <div class="campos-hospedes">
        <a class="botao-adicionar" href="/adicionar">Adicionar</a>
        <a class="botao-remover" href="/hospedes">Remover</a>
        <a class="botao-atualizar" href="/hospedes">Atualizar</a>
      </div>
    </div>
</div>
<a class="botao-voltar" href="/home">Voltar</a>
</div>
<%-include("footer.ejs") %> 