<%-include("header.ejs") %> 

<div class="content">
  <div class="choose-field">
    <div class="barra-pesquisa">
      <div class="campos-reserva">
        <a class="botao-adicionar" href="/adicionar">Nova reserva</a>
        <a class="botao-remover" href="/hospedes">Cancelar reserva</a>
      </div>
    </div>
</div>
<a class="botao-voltar" href="/home">Voltar</a>
</div>
<%-include("footer.ejs") %> 