<%-include("header.ejs") %> 

<a class="botao-voltar" href="/"><img src="styles/seta-esquerda.png"></a>
<div class="content">
  <div class="choose-field">
    <div class="barra-pesquisa">
      <div class="campos-reserva">
        <a class="botao-adicionar" href="/reservar">Nova reserva</a>
        <a class="botao-remover" href="/reservas">Cancelar reserva</a>
      </div>
    </div>
</div>
</div>
<%-include("footer.ejs") %> 